@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap");
@media screen and (max-width: 376px) {
  #headerTitle {
    font-size: 1rem !important;
  }

  #filter {
    display: block !important;
  }
  #filter #countrySearch {
    margin-top: 10px !important;
  }

  #main {
    justify-content: center !important;
  }
  #main #card {
    max-width: 19rem !important;
  }

  #subcontainer {
    display: block !important;
  }
  #subcontainer #wrapperImg {
    width: 100%;
    margin: 15px auto;
  }
  #subcontainer #wrapperImg img {
    width: 100%;
  }
  #subcontainer #wrapperInfo {
    width: 100%;
  }
  #subcontainer #wrapperInfo #item2 {
    position: static;
    margin-top: 20px;
  }
  #subcontainer #wrapperInfo footer {
    display: block !important;
  }
  #subcontainer #wrapperInfo footer p {
    margin-bottom: 10px !important;
  }
}
body {
  font-family: "Nunito Sans", sans-serif;
  margin: 0px;
  font-size: 14px;
  position: relative;
  background-color: #fafafa;
}

select:selected {
  color: gray;
}

option:focus {
  outline: none;
}

option[value=""] {
  display: none;
}

.btn:focus {
  outline: none !important;
  box-shadow: none;
}

#header {
  padding-top: 10px;
  padding-bottom: 10px;
  box-shadow: 1px 1px 4px 1px #b8b8b8;
  background-color: #ffffff;
}
#header #headerTitle {
  font-weight: 600;
}
#header #mybtn {
  background-color: #ffffff;
  font-weight: 600;
}
#header #mybtn::Before {
  content: "🌙 ";
}

#filter #search {
  box-shadow: 1px 1px 4px 1px #b8b8b8;
  width: 280px;
  border: none;
  padding: 8px 5px;
  border-radius: 3px;
}
#filter #search:focus {
  outline: none;
}
#filter #countrySearch {
  box-shadow: 1px 1px 4px 1px #b8b8b8;
  background-color: #ffffff;
}

#main {
  justify-content: space-around !important;
  min-height: 80vh;
}
#main #card {
  max-width: 15rem;
  height: 450px;
}
#main #card img {
  height: 150px;
  object-fit: cover;
  transition: all 1s;
  box-shadow: 0px 4px 4px gray;
}
#main #card img:hover {
  transform: scale(1.1);
}
#main #card button {
  display: block;
  margin: 10px;
}

.darkMode {
  background-color: #2b3945 !important;
  color: #ffffff !important;
  box-shadow: none !important;
}

.darkMode_2 {
  background-color: #202c37 !important;
  color: #ffffff !important;
  box-shadow: none !important;
}

.searchDark {
  background-color: #2b3945 !important;
  color: #ffffff;
  box-shadow: none !important;
}
.searchDark:hover {
  color: #ffffff;
}

.searchDark::-webkit-input-placeholder {
  color: #ffffff;
}

.cardDark {
  background-color: #2b3945;
  color: #ffffff;
}
.cardDark img {
  box-shadow: 0px 0px 0px 0px transparent !important;
}

#moreInfo {
  display: none;
  width: 100%;
  height: 90vh;
  position: absolute;
  left: 0;
  right: 0;
}

#wrapperImg {
  width: 60%;
  height: 400px;
  box-sizing: border-box;
}
#wrapperImg img {
  width: 90%;
  height: inherit;
  object-fit: cover;
}

.show {
  display: block !important;
}

.hidden {
  display: none !important;
}

#subcontainer {
  height: 80vh;
}

#back {
  box-shadow: 1px 1px 4px 1px #c2c2c2;
}

.pin {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 10px solid #d1d1d1;
  border-top: 10px solid #9e9e9e;
  animation: rotate 1.1s infinite linear;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}